html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  background: #f7f7f7 url(./images/libertymutual.jpg) 0 0 no-repeat;
  background-size: cover;
  color: #333;
}

p {
  margin: 0;
  display: inline-block;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Chat box */
.chatroom {
  position:fixed;
  right:15px;
  bottom:0;
  width: 360px;
  height: 600px;
  background-color: #f9f9f9;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3);
}

.chat-closed {
  width: 250px;
  height: 35px;
  background: #8bc34a;
  line-height: 35px;
  font-size: 18px;
  text-align: center;
  border:1px solid #777;
  color: #000;
}

/* Title of chat box */
.chatroom h3 {
  font-family: 'Arial';
  background-color: #002663;
  color: #FFF;
  margin: 0;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Chat log */
.chatroom .chats {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 10px 0 0;
  height: 510px;
  overflow-y: scroll;
  border: #b0b1b2;
}

/* Left chat */
.chatroom .chats .chat.left {
  background: #f2c760;
  clear:both;
  padding: 10px 13px;
  font-size: 14px;
  border-radius: 10px;
  list-style: none;
  margin: 4px 0;
}

.chatroom .chats .chat.right {
  background: #ffffff;
  float: right;
  clear: both;
  border: 1px solid #b0b1b2;
  padding: 5px 13px;
  font-size: 14px;
  border-radius: 10px;
  list-style: none;
  margin: 4px 0;
}

.chatroom .chats .chat img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* links */
.chatroom .chats .chat a {
  text-decoration: none;
  color:#1b75bb;
}

.chatroom .input {
  height: 40px;
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chatroom .input input[type="text"] {
  background: rgba(255, 255, 255, 0.5);
  outline: 0;
  border: 2px solid #d97a23;
  padding: 0 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 10px;
  height: 30px;
  width: 270px;
  box-sizing: border-box;
  font-size: 14px;
}

.chatroom .input input[type="submit"] {
  background: #d97a23;
  border: 1px solid #d97a23;
  color: #FFF;
  height: 30px;
  width: 70px;
  font-size: 14px;
  box-sizing: border-box;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.chatroom .input input[type="submit"]:hover {
  background: #d97a23;
  color: rgb(0, 0, 0);
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  left: 1px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  padding: .5em .5em;
  margin: 3px;
  text-align: center;
  color: #fff;
  background: #d97a23;
  will-change: transform, filter;
  transition: all 0.3s ease-out;
}

button .fa {
  font-size: 20px;
  line-height: 0px;
  margin: 0;
  text-shadow: 1px 2px 2px #2a8b90;
}

button:hover {
  transform: scale(.92);
}

button:active {
  filter: brightness(.8);
}

button:focus {
  outline: 0;
}

.fa {
  font: normal normal normal 5px/1 FontAwesome;
  font-size: 1.3em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 10px;
}

.fa-github::before {
    content: "\f09b";
}